<a href="https://colab.research.google.com/github/prodramp/DeepWorks/blob/main/GigasheetWorkshop/Pandas_Gigasheet_comparision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
from google.colab import files
uploaded = files.upload()

Saving DelayedFlights.csv.zip to DelayedFlights.csv.zip

In [5]:
!ls -la

total 66512
drwxr-xr-x 1 root root     4096 Nov 19 17:41 .
drwxr-xr-x 1 root root     4096 Nov 19 17:30 ..
drwxr-xr-x 4 root root     4096 Nov 17 14:31 .config
-rw-r--r-- 1 root root 68088821 Nov 19 17:41 DelayedFlights.csv.zip
drwxr-xr-x 1 root root     4096 Nov 17 14:32 sample_data

In [6]:
df = pd.read_csv('DelayedFlights.csv.zip')

In [7]:
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.shape

(1936758, 30)

In [12]:
df.head(20)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
10,17,2008,1,3,4,754.0,745,940.0,955,WN,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
12,19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
13,21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
14,22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
15,23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,...,2.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
17,26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
18,27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
19,30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0

In [16]:
df.tail(20)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1936738,7009634,2008,12,13,6,1159.0,1126,1908.0,1703,DL,...,24.0,112.0,0,N,0,0.0,19.0,92.0,0.0,14.0
1936739,7009646,2008,12,13,6,1100.0,1045,1350.0,1347,DL,...,7.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936740,7009652,2008,12,13,6,1200.0,1150,1924.0,1921,DL,...,11.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936741,7009655,2008,12,13,6,955.0,934,1215.0,1155,DL,...,6.0,20.0,0,N,0,20.0,0.0,0.0,0.0,0.0
1936742,7009657,2008,12,13,6,1149.0,1048,1351.0,1235,DL,...,16.0,16.0,0,N,0,61.0,0.0,15.0,0.0,0.0
1936743,7009660,2008,12,13,6,1053.0,1000,1218.0,1141,DL,...,5.0,14.0,0,N,0,37.0,0.0,0.0,0.0,0.0
1936744,7009664,2008,12,13,6,1251.0,1210,1434.0,1400,DL,...,6.0,7.0,0,N,0,0.0,0.0,0.0,0.0,34.0
1936745,7009666,2008,12,13,6,1025.0,950,1218.0,1130,DL,...,4.0,41.0,0,N,0,35.0,0.0,13.0,0.0,0.0
1936746,7009671,2008,12,13,6,1429.0,1355,1749.0,1729,DL,...,9.0,14.0,0,N,0,20.0,0.0,0.0,0.0,0.0
1936747,7009683,2008,12,13,6,2006.0,1954,2133.0,2109,DL,...,4.0,33.0,0,N,0,0.0,0.0,12.0,0.0,12.0
1936748,7009699,2008,12,13,6,1254.0,1221,1420.0,1359,DL,...,9.0,13.0,0,N,0,0.0,0.0,0.0,0.0,21.0
1936749,7009701,2008,12,13,6,1528.0,1500,1720.0,1642,DL,...,4.0,29.0,0,N,0,16.0,0.0,10.0,0.0,12.0
1936750,7009702,2008,12,13,6,1531.0,1522,1822.0,1823,DL,...,9.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936751,7009705,2008,12,13,6,921.0,830,1112.0,1008,DL,...,8.0,21.0,0,N,0,51.0,0.0,13.0,0.0,0.0
1936752,7009709,2008,12,13,6,1552.0,1520,1735.0,1718,DL,...,9.0,7.0,0,N,0,0.0,0.0,0.0,0.0,17.0
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [20]:
df.sample(100).to_csv('100rows.csv')

In [21]:
!ls -la

total 66528
drwxr-xr-x 1 root root     4096 Nov 19 17:45 .
drwxr-xr-x 1 root root     4096 Nov 19 17:30 ..
-rw-r--r-- 1 root root    13858 Nov 19 17:45 100rows.csv
drwxr-xr-x 4 root root     4096 Nov 17 14:31 .config
-rw-r--r-- 1 root root 68088821 Nov 19 17:41 DelayedFlights.csv.zip
drwxr-xr-x 1 root root     4096 Nov 17 14:32 sample_data

In [22]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [28]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [38]:
df[['Cancelled']]

         Cancelled
0                0
1                0
2                0
3                0
4                0
...            ...
1936753          0
1936754          0
1936755          0
1936756          0
1936757          0

[1936758 rows x 1 columns]

In [33]:
df[['Cancelled']].nunique()

Cancelled    2
dtype: int64

In [34]:
df[['Origin']].nunique()

Origin    303
dtype: int64

In [35]:
df[['Dest']].nunique()

Dest    304
dtype: int64

In [36]:
df[['Cancelled']].unique()

AttributeError: ignored

In [42]:
df['Cancelled'].unique()

array([0, 1])

In [37]:
df.Cancelled

0          0
1          0
2          0
3          0
4          0
          ..
1936753    0
1936754    0
1936755    0
1936756    0
1936757    0
Name: Cancelled, Length: 1936758, dtype: int64

In [39]:
df.Cancelled.unique()

array([0, 1])

In [40]:
df.Origin.unique()

array(['IAD', 'IND', 'ISP', 'JAN', 'JAX', 'LAS', 'LAX', 'LBB', 'LIT',
       'MAF', 'MCI', 'MCO', 'MDW', 'MHT', 'MSY', 'OAK', 'OKC', 'OMA',
       'ONT', 'ORF', 'PBI', 'PDX', 'PHL', 'PHX', 'PIT', 'PVD', 'RDU',
       'RNO', 'RSW', 'SAN', 'SAT', 'SDF', 'SEA', 'SFO', 'SJC', 'SLC',
       'SMF', 'SNA', 'STL', 'TPA', 'TUL', 'TUS', 'ABQ', 'ALB', 'AMA',
       'AUS', 'BDL', 'BHM', 'BNA', 'BOI', 'BUF', 'BUR', 'BWI', 'CLE',
       'CMH', 'CRP', 'DAL', 'DEN', 'DTW', 'ELP', 'FLL', 'GEG', 'HOU',
       'HRL', 'ROC', 'ORD', 'EWR', 'SYR', 'IAH', 'CRW', 'FAT', 'COS',
       'MRY', 'LGB', 'BFL', 'EUG', 'ICT', 'MEM', 'BTV', 'MKE', 'LFT',
       'BRO', 'PWM', 'MSP', 'SRQ', 'CLT', 'CVG', 'GSO', 'SHV', 'DCA',
       'TYS', 'GSP', 'RIC', 'DFW', 'BGR', 'DAY', 'GRR', 'CHS', 'CAE',
       'TLH', 'XNA', 'GPT', 'VPS', 'LGA', 'ATL', 'MSN', 'SAV', 'BTR',
       'LEX', 'LRD', 'MOB', 'MTJ', 'GRK', 'AEX', 'PNS', 'ABE', 'HSV',
       'CHA', 'MFE', 'MLU', 'DSM', 'MGM', 'AVL', 'LCH', 'BOS', 'MYR',
       'CLL', 'DAB', 'ASE', 'ATW', 'BMI', 'CAK', 'CID', 'CPR', 'EGE',
       'FLG', 'FSD', 'FWA', 'GJT', 'GRB', 'HNL', 'KOA', 'LAN', 'LIH',
       'MBS', 'MDT', 'MFR', 'OGG', 'PSP', 'RAP', 'ROA', 'SBA', 'SBN',
       'SPI', 'TEX', 'YUM', 'AVP', 'CWA', 'DRO', 'ILM', 'ITO', 'JFK',
       'TVC', 'HDN', 'SBP', 'CLD', 'HPN', 'MIA', 'SGF', 'TRI', 'SUN',
       'SGU', 'SLE', 'MSO', 'BZN', 'YKM', 'GTF', 'BIL', 'JAC', 'MOD',
       'FAR', 'GUC', 'AZO', 'PIA', 'MLI', 'LNK', 'FCA', 'IDA', 'BIS',
       'PSC', 'COD', 'TWF', 'RDM', 'HLN', 'RDD', 'PIH', 'EKO', 'LWS',
       'SMX', 'ACV', 'OXR', 'CEC', 'CIC', 'PMD', 'RFD', 'BTM', 'IYK',
       'IPL', 'BLI', 'CDC', 'SJU', 'STT', 'ANC', 'STX', 'MLB', 'PHF',
       'PFN', 'FAY', 'AGS', 'GNV', 'ABY', 'DHN', 'EVV', 'FNT', 'OAJ',
       'TOL', 'SWF', 'EWN', 'MEI', 'GTR', 'LYH', 'HHH', 'EYW', 'VLD',
       'CSG', 'ACY', 'FSM', 'MCN', 'CHO', 'FLO', 'BQK', 'SCE', 'TUP',
       'TYR', 'LAW', 'SPS', 'ABI', 'GGG', 'ACT', 'SJT', 'TXK', 'CMI',
       'ROW', 'RST', 'MQT', 'LSE', 'DBQ', 'GFK', 'MOT', 'DLH', 'SUX',
       'PLN', 'BGM', 'ERI', 'ALO', 'CMX', 'RHI', 'ELM', 'JNU', 'KTN',
       'SIT', 'PSG', 'CDV', 'YAK', 'BRW', 'OME', 'OTZ', 'BET', 'FAI',
       'SCC', 'ADQ', 'WRG', 'ADK', 'PSE', 'BQN', 'BPT', 'RKS', 'GCC',
       'MKG', 'DLG', 'AKN', 'LWB', 'ACK', 'WYS', 'BJI', 'INL', 'GST',
       'PUB', 'OTH', 'LMT', 'ITH', 'HTS', 'PIR'], dtype=object)

In [41]:
df.Dest.unique()

array(['TPA', 'BWI', 'JAX', 'LAS', 'MCO', 'MDW', 'PHX', 'FLL', 'PBI',
       'RSW', 'HOU', 'BHM', 'BNA', 'IND', 'PHL', 'ABQ', 'ALB', 'AMA',
       'AUS', 'BDL', 'BOI', 'BUF', 'BUR', 'CLE', 'CMH', 'DEN', 'ELP',
       'GEG', 'IAD', 'ISP', 'LAX', 'LBB', 'LIT', 'MAF', 'MCI', 'MHT',
       'MSY', 'OAK', 'OKC', 'OMA', 'ONT', 'ORF', 'PDX', 'PIT', 'PVD',
       'RDU', 'RNO', 'SAN', 'SAT', 'SDF', 'SEA', 'SFO', 'SJC', 'SLC',
       'SMF', 'SNA', 'STL', 'TUL', 'TUS', 'DAL', 'DTW', 'JAN', 'HRL',
       'CRP', 'EWR', 'IAH', 'ROC', 'MYR', 'GSO', 'SAV', 'RIC', 'COS',
       'FAT', 'MRY', 'LGB', 'BFL', 'EUG', 'ICT', 'CAE', 'DFW', 'DAY',
       'MSP', 'GSP', 'MEM', 'TYS', 'SHV', 'BTV', 'MFE', 'PWM', 'ATL',
       'SYR', 'MKE', 'HSV', 'BTR', 'CHS', 'MSN', 'LFT', 'LRD', 'SRQ',
       'CLT', 'VPS', 'AVL', 'GPT', 'LGA', 'ABE', 'BGR', 'DCA', 'ORD',
       'GRR', 'MOB', 'PNS', 'CHA', 'MGM', 'CVG', 'GRK', 'PSP', 'TLH',
       'LCH', 'BOS', 'BRO', 'XNA', 'BPT', 'LEX', 'MTJ', 'AEX', 'MLU',
       'DSM', 'CRW', 'CLL', 'ILM', 'JFK', 'ASE', 'CPR', 'DRO', 'RAP',
       'KOA', 'LIH', 'OGG', 'MDT', 'ROA', 'SPI', 'HNL', 'MFR', 'ATW',
       'BMI', 'CAK', 'CID', 'FSD', 'FWA', 'GRB', 'LAN', 'MBS', 'SBN',
       'FLG', 'GJT', 'YUM', 'EGE', 'ITO', 'AVP', 'CWA', 'TVC', 'SBP',
       'SBA', 'COD', 'HDN', 'TEX', 'CLD', 'MLB', 'SGF', 'MIA', 'HPN',
       'TRI', 'SUN', 'SGU', 'TWF', 'IDA', 'MSO', 'BZN', 'YKM', 'SLE',
       'HLN', 'LWS', 'GTF', 'BIL', 'BTM', 'JAC', 'FCA', 'PSC', 'ACV',
       'RDD', 'IPL', 'MOD', 'PIA', 'LNK', 'GUC', 'AZO', 'FAR', 'MLI',
       'PMD', 'BIS', 'PIH', 'EKO', 'RDM', 'BLI', 'IYK', 'SMX', 'CEC',
       'CIC', 'OXR', 'RFD', 'CDC', 'OGD', 'STT', 'SJU', 'ANC', 'STX',
       'DAB', 'PHF', 'MCN', 'VLD', 'CSG', 'SWF', 'BQK', 'MEI', 'FAY',
       'EWN', 'SCE', 'DHN', 'EYW', 'EVV', 'PFN', 'GNV', 'FNT', 'AGS',
       'ABY', 'CHO', 'OAJ', 'FSM', 'FLO', 'HHH', 'TOL', 'LYH', 'GTR',
       'ACY', 'TUP', 'LAW', 'TYR', 'ABI', 'TXK', 'ACT', 'SPS', 'SJT',
       'GGG', 'CMI', 'ROW', 'MQT', 'RST', 'LSE', 'DBQ', 'DLH', 'GFK',
       'MOT', 'RHI', 'SUX', 'CMX', 'BGM', 'PLN', 'ERI', 'ALO', 'ELM',
       'KTN', 'SIT', 'JNU', 'CDV', 'PSG', 'YAK', 'WRG', 'FAI', 'OME',
       'BRW', 'SCC', 'OTZ', 'BET', 'ADQ', 'ADK', 'PSE', 'BQN', 'GCC',
       'RKS', 'CYS', 'MKG', 'DLG', 'AKN', 'LWB', 'ACK', 'WYS', 'INL',
       'BJI', 'GST', 'LMT', 'OTH', 'ITH', 'HTS', 'PIR'], dtype=object)

In [43]:
df['DepDelay']

0           8.0
1          19.0
2           8.0
3          34.0
4          25.0
           ...
1936753    30.0
1936754    57.0
1936755    80.0
1936756    11.0
1936757     7.0
Name: DepDelay, Length: 1936758, dtype: float64

In [44]:
df['DepDelay'].sum()

83639236.0

In [45]:
df['DepDelay'].min()

6.0

In [46]:
df['DepDelay'].max()

2467.0

In [47]:
df['DepDelay'].mean()

43.185176464999756

In [48]:
df['DepDelay'].median()

24.0

In [49]:
df['DepDelay'].average()

AttributeError: ignored

In [50]:
df['DepDelay'].avg()

AttributeError: ignored

In [53]:
df_DepDelay_avg = df['DepDelay'].sum()/ len(df)
print(df_DepDelay_avg)

43.185176464999756

In [55]:
df.isna()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936754,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936755,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936756,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1936757,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True

In [57]:
df.isnull()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936754,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936755,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1936756,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
1936757,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True

In [58]:
df.isna().count()

Unnamed: 0           1936758
Year                 1936758
Month                1936758
DayofMonth           1936758
DayOfWeek            1936758
DepTime              1936758
CRSDepTime           1936758
ArrTime              1936758
CRSArrTime           1936758
UniqueCarrier        1936758
FlightNum            1936758
TailNum              1936758
ActualElapsedTime    1936758
CRSElapsedTime       1936758
AirTime              1936758
ArrDelay             1936758
DepDelay             1936758
Origin               1936758
Dest                 1936758
Distance             1936758
TaxiIn               1936758
TaxiOut              1936758
Cancelled            1936758
CancellationCode     1936758
Diverted             1936758
CarrierDelay         1936758
WeatherDelay         1936758
NASDelay             1936758
SecurityDelay        1936758
LateAircraftDelay    1936758
dtype: int64

In [59]:
df.isna().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [60]:
df.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [61]:
df.describe

<bound method NDFrame.describe of          Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0                 0  2008      1           3          4   2003.0        1955
1                 1  2008      1           3          4    754.0         735
2                 2  2008      1           3          4    628.0         620
3                 4  2008      1           3          4   1829.0        1755
4                 5  2008      1           3          4   1940.0        1915
...             ...   ...    ...         ...        ...      ...         ...
1936753     7009710  2008     12          13          6   1250.0        1220
1936754     7009717  2008     12          13          6    657.0         600
1936755     7009718  2008     12          13          6   1007.0         847
1936756     7009726  2008     12          13          6   1251.0        1240
1936757     7009727  2008     12          13          6   1110.0        1103

         ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0         2211.0        2225            WN  ...     4.0     8.0          0
1         1002.0        1000            WN  ...     5.0    10.0          0
2          804.0         750            WN  ...     3.0    17.0          0
3         1959.0        1925            WN  ...     3.0    10.0          0
4         2121.0        2110            WN  ...     4.0    10.0          0
...          ...         ...           ...  ...     ...     ...        ...
1936753   1617.0        1552            DL  ...     9.0    18.0          0
1936754    904.0         749            DL  ...    15.0    34.0          0
1936755   1149.0        1010            DL  ...     8.0    32.0          0
1936756   1446.0        1437            DL  ...    13.0    13.0          0
1936757   1413.0        1418            DL  ...     8.0    11.0          0

         CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                       N         0           NaN           NaN      NaN
1                       N         0           NaN           NaN      NaN
2                       N         0           NaN           NaN      NaN
3                       N         0           2.0           0.0      0.0
4                       N         0           NaN           NaN      NaN
...                   ...       ...           ...           ...      ...
1936753                 N         0           3.0           0.0      0.0
1936754                 N         0           0.0          57.0     18.0
1936755                 N         0           1.0           0.0     19.0
1936756                 N         0           NaN           NaN      NaN
1936757                 N         0           NaN           NaN      NaN

        SecurityDelay  LateAircraftDelay
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 0.0               32.0
4                 NaN                NaN
...               ...                ...
1936753           0.0               22.0
1936754           0.0                0.0
1936755           0.0               79.0
1936756           NaN                NaN
1936757           NaN                NaN

[1936758 rows x 30 columns]>

In [62]:
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,...,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,...,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,...,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [70]:
df.sort_values('Origin', ascending=True)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1686807,6234993,2008,11,21,5,1252.0,1237,1459.0,1448,EV,...,11.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1177891,3934795,2008,7,24,4,639.0,630,838.0,836,EV,...,7.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1475361,5094076,2008,9,19,5,913.0,850,1051.0,1027,US,...,5.0,12.0,0,N,0,23.0,0.0,1.0,0.0,0.0
1177890,3934792,2008,7,21,1,636.0,630,839.0,836,EV,...,15.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
941166,3157778,2008,6,18,3,2008.0,1905,2106.0,1946,OH,...,4.0,20.0,0,N,0,0.0,63.0,17.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128831,3760023,2008,7,30,3,1050.0,1020,1147.0,1124,YV,...,7.0,10.0,0,N,0,0.0,0.0,23.0,0.0,0.0
949046,3186704,2008,6,14,6,613.0,605,848.0,857,OO,...,5.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
613261,1934306,2008,4,22,2,1825.0,1816,1928.0,1920,YV,...,10.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
43652,139187,2008,1,14,1,1300.0,1121,1400.0,1214,YV,...,13.0,16.0,0,N,0,106.0,0.0,0.0,0.0,0.0
54775,178189,2008,1,6,7,1740.0,1700,1710.0,1632,OO,...,3.0,11.0,0,N,0,0.0,0.0,0.0,0.0,38.0

In [69]:
df[['Origin', 'Dest']].sort_values('Origin', ascending=True)

        Origin Dest
1686807    ABE  ATL
1177891    ABE  ATL
1475361    ABE  CLT
1177890    ABE  ATL
941166     ABE  LGA
...        ...  ...
1128831    YUM  PHX
949046     YUM  SLC
613261     YUM  PHX
43652      YUM  PHX
54775      YUM  IPL

[1936758 rows x 2 columns]

In [71]:
df.sort_values('Cancelled', ascending=True)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1290755,4320597,2008,8,29,5,1725.0,1715,1831.0,1825,WN,...,11.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1290754,4320596,2008,8,29,5,1656.0,1540,1759.0,1645,WN,...,4.0,10.0,0,N,0,74.0,0.0,0.0,0.0,0.0
1290753,4320594,2008,8,29,5,2011.0,1925,2114.0,2030,WN,...,4.0,12.0,0,N,0,0.0,0.0,0.0,0.0,44.0
1290752,4320593,2008,8,29,5,1538.0,1450,1751.0,1715,WN,...,6.0,14.0,0,N,0,10.0,0.0,0.0,0.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933249,6996086,2008,12,2,2,750.0,730,NaN,851,DL,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
1721278,6411512,2008,11,1,6,1850.0,1510,NaN,1640,B6,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
1828160,6718425,2008,12,21,7,1315.0,845,NaN,1652,US,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
1677172,6195727,2008,11,30,7,2136.0,2108,NaN,2128,US,...,NaN,11.0,1,B,0,NaN,NaN,NaN,NaN,NaN
1927037,6980518,2008,12,19,5,1502.0,1205,NaN,1654,CO,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [72]:
df.sort_values('CarrierDelay', ascending=True)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
960425,3224049,2008,6,22,7,1559.0,1550,2012.0,1827,UA,...,7.0,152.0,0,N,0,0.0,9.0,96.0,0.0,0.0
1236925,4142532,2008,7,13,7,2139.0,2025,1.0,2200,AA,...,5.0,60.0,0,N,0,0.0,0.0,47.0,0.0,74.0
607889,1913096,2008,4,8,2,1610.0,1530,1806.0,1747,XE,...,10.0,14.0,0,N,0,0.0,0.0,0.0,0.0,19.0
607890,1913100,2008,4,7,1,2108.0,2025,2342.0,2253,XE,...,4.0,41.0,0,N,0,0.0,0.0,6.0,0.0,43.0
1236924,4142529,2008,7,9,3,2101.0,2025,2236.0,2200,AA,...,4.0,32.0,0,N,0,0.0,0.0,0.0,0.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936739,7009646,2008,12,13,6,1100.0,1045,1350.0,1347,DL,...,7.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936740,7009652,2008,12,13,6,1200.0,1150,1924.0,1921,DL,...,11.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936750,7009702,2008,12,13,6,1531.0,1522,1822.0,1823,DL,...,9.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [73]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [78]:
df.rename(columns={'Diverted': 'Flight_Diverted'}).columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Flight_Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [79]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Flight_Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [80]:
df.rename(columns={'Diverted': 'Flight_Diverted'}, inplace=True)

In [82]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Flight_Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [84]:
df.sample(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Flight_Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1027673,3438141,2008,6,22,7,2239.0,2229,2316.0,2239,NW,...,5.0,41.0,0,N,0,10.0,0.0,27.0,0.0,0.0
138917,455568,2008,1,24,4,1256.0,1125,1403.0,1235,9E,...,5.0,17.0,0,N,0,0.0,0.0,0.0,0.0,88.0
476563,1497720,2008,3,29,6,1126.0,1115,1209.0,1200,DL,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1495251,5217661,2008,9,17,3,1559.0,1530,NaN,1900,MQ,...,NaN,16.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1527374,5402032,2008,10,8,3,1536.0,1335,1732.0,1530,WN,...,3.0,26.0,0,N,0,121.0,0.0,1.0,0.0,0.0
1107485,3685816,2008,7,27,7,923.0,905,1038.0,1020,WN,...,5.0,11.0,0,N,0,0.0,0.0,18.0,0.0,0.0
977830,3274622,2008,6,16,1,1330.0,1324,1540.0,1535,US,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1740528,6496264,2008,12,12,5,1607.0,1555,1909.0,1655,WN,...,7.0,14.0,0,N,1,NaN,NaN,NaN,NaN,NaN
246851,786556,2008,2,14,4,609.0,540,659.0,624,OO,...,7.0,10.0,0,N,0,35.0,0.0,0.0,0.0,0.0
146334,480792,2008,1,2,3,1150.0,1135,1416.0,1355,AA,...,8.0,28.0,0,N,0,0.0,0.0,6.0,0.0,15.0

In [94]:
df[df.TaxiIn > 100]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Flight_Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100
33215,102351,2008,1,4,5,2039.0,1900,111.0,2132,XE,...,24.0,0,N,0,0.0,0.0,120.0,0.0,99.0,True
38885,121734,2008,1,31,4,1937.0,1840,123.0,2236,XE,...,13.0,0,N,0,16.0,0.0,110.0,0.0,41.0,True
42281,133516,2008,1,6,7,1907.0,1853,2143.0,2000,YV,...,12.0,0,N,0,0.0,0.0,0.0,0.0,103.0,True
46471,149538,2008,1,29,2,2123.0,1848,126.0,2002,YV,...,16.0,0,N,0,0.0,0.0,324.0,0.0,0.0,True
53139,174730,2008,1,4,5,2204.0,2030,117.0,2136,OO,...,27.0,0,N,0,0.0,0.0,0.0,0.0,221.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902484,6920028,2008,12,1,1,801.0,735,1148.0,920,AA,...,42.0,0,N,0,26.0,0.0,122.0,0.0,0.0,True
1905504,6929178,2008,12,9,2,2009.0,1945,13.0,2200,AA,...,17.0,0,N,0,24.0,0.0,109.0,0.0,0.0,True
1908217,6936943,2008,12,1,1,904.0,830,1224.0,1020,AA,...,18.0,0,N,0,0.0,0.0,124.0,0.0,0.0,True
1910489,6943048,2008,12,1,1,806.0,745,1249.0,900,AA,...,79.0,0,N,0,0.0,0.0,229.0,0.0,0.0,True
1926040,6979091,2008,12,21,7,1747.0,1720,2300.0,2002,CO,...,23.0,0,N,0,0.0,27.0,151.0,0.0,0.0,True

In [87]:
import numpy as np

In [88]:
df['TaxiIn_gt_100'] = np.where( df.TaxiIn > 100, True, False)

In [89]:
df.shape

(1936758, 31)

In [90]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Flight_Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'TaxiIn_gt_100'],
      dtype='object')

In [92]:
df.sample(100)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Flight_Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100
750684,2456178,2008,5,23,5,1409.0,1335,2206.0,2125,WN,...,38.0,0,N,0,16.0,0.0,7.0,0.0,18.0,False
1916866,6960171,2008,12,12,5,1942.0,1910,2129.0,2045,B6,...,29.0,0,N,0,0.0,0.0,12.0,0.0,32.0,False
441256,1372602,2008,3,17,1,1518.0,1506,1810.0,1753,OO,...,11.0,0,N,0,17.0,0.0,0.0,0.0,0.0,False
1205088,4025728,2008,7,6,7,811.0,800,850.0,845,MQ,...,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN,False
1307477,4379332,2008,8,23,6,1140.0,1125,1410.0,1312,YV,...,58.0,0,N,0,58.0,0.0,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153340,500018,2008,1,23,3,1147.0,1125,1431.0,1350,AA,...,16.0,0,N,0,0.0,22.0,19.0,0.0,0.0,False
96788,306226,2008,1,18,5,1817.0,1802,1950.0,1952,DL,...,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN,False
1086637,3618731,2008,7,7,1,1848.0,1800,2104.0,2020,WN,...,14.0,0,N,0,0.0,0.0,35.0,0.0,9.0,False
63606,208586,2008,1,25,5,1056.0,1041,1526.0,1532,OO,...,20.0,0,N,0,NaN,NaN,NaN,NaN,NaN,False
710942,2327536,2008,4,4,5,1929.0,1910,2032.0,2023,B6,...,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN,False

In [95]:
df['ArrDelay+DepDelay'] = df['ArrDelay'] + df['DepDelay']

In [96]:
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,Cancelled,CancellationCode,Flight_Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100,ArrDelay+DepDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,-6.0
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,21.0
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,22.0
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,0,N,0,2.0,0.0,0.0,0.0,32.0,False,68.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,0,N,0,3.0,0.0,0.0,0.0,22.0,False,55.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,0,N,0,0.0,57.0,18.0,0.0,0.0,False,132.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,0,N,0,1.0,0.0,19.0,0.0,79.0,False,179.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,20.0
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,0,N,0,NaN,NaN,NaN,NaN,NaN,False,2.0

In [98]:
df.groupby('Origin').count()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,Cancelled,CancellationCode,Flight_Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100,ArrDelay+DepDelay
Origin,,,,,,,,,,,,,,,,,,,,,
ABE,949,949,949,949,949,949,949,942,949,949,...,949,949,949,683,683,683,683,683,949,941
ABI,392,392,392,392,392,392,392,392,392,392,...,392,392,392,266,266,266,266,266,392,392
ABQ,10674,10674,10674,10674,10674,10674,10674,10647,10674,10674,...,10674,10674,10674,6184,6184,6184,6184,6184,10674,10644
ABY,292,292,292,292,292,292,292,292,292,292,...,292,292,292,212,212,212,212,212,292,292
ACK,196,196,196,196,196,196,196,196,196,196,...,196,196,196,138,138,138,138,138,196,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WYS,10,10,10,10,10,10,10,10,10,10,...,10,10,10,3,3,3,3,3,10,10
XNA,3577,3577,3577,3577,3577,3577,3577,3559,3577,3577,...,3577,3577,3577,2584,2584,2584,2584,2584,3577,3556
YAK,202,202,202,202,202,202,202,199,202,202,...,202,202,202,153,153,153,153,153,202,199
YKM,55,55,55,55,55,55,55,55,55,55,...,55,55,55,32,32,32,32,32,55,55
YUM,687,687,687,687,687,687,687,687,687,687,...,687,687,687,389,389,389,389,389,687,687

In [99]:
df.groupby(['Origin'])['Dest'].count()

Origin
ABE      949
ABI      392
ABQ    10674
ABY      292
ACK      196
       ...
WYS       10
XNA     3577
YAK      202
YKM       55
YUM      687
Name: Dest, Length: 303, dtype: int64

In [100]:
df.groupby(['Origin'])['Dest'].max()

Origin
ABE    PHL
ABI    DFW
ABQ    TUS
ABY    ATL
ACK    JFK
      ...
WYS    SLC
XNA    SGF
YAK    JNU
YKM    SLC
YUM    SLC
Name: Dest, Length: 303, dtype: object

In [101]:
df.groupby(['Origin'])['Dest'].min()

Origin
ABE    ATL
ABI    DFW
ABQ    AMA
ABY    ATL
ACK    EWR
      ...
WYS    SLC
XNA    ATL
YAK    CDV
YKM    SLC
YUM    IPL
Name: Dest, Length: 303, dtype: object

In [104]:
df[['Origin', 'Dest']]

        Origin Dest
0          IAD  TPA
1          IAD  TPA
2          IND  BWI
3          IND  BWI
4          IND  JAX
...        ...  ...
1936753    MSP  ATL
1936754    RIC  ATL
1936755    ATL  IAH
1936756    IAD  ATL
1936757    SAT  ATL

[1936758 rows x 2 columns]

In [105]:
airport_codes = pd.read_csv('https://raw.githubusercontent.com/datasets/airport-codes/master/data/airport-codes.csv')

In [107]:
airport_codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.94919968, -151.695999146"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"35.6087, -91.254898"
...,...,...,...,...,...,...,...,...,...,...,...,...
55108,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"40.542524, 122.3586"
55109,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"41.784400939941406, 123.49600219726562"
55110,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"51.894444, 1.4825"
55111,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"-11.584277777799999, 47.296388888900005"
55112,ZZZZ,small_airport,Satsuma Iōjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,NaN,"30.784722, 130.270556"

In [108]:
airport_codes = airport_codes[airport_codes['iso_country'] == 'US']

In [109]:
airport_codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.94919968, -151.695999146"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"35.6087, -91.254898"
...,...,...,...,...,...,...,...,...,...,...,...,...
54614,Z91,small_airport,Birch Creek Airport,450.0,NaN,US,US-AK,Birch Creek,Z91,KBC,Z91,"66.2740020752, -145.824005127"
54615,Z92,small_airport,Harsens Island Airport,578.0,NaN,US,US-MI,Harsens Island,Z92,NaN,Z92,"42.589698791503906, -82.57640075683594"
54616,Z93,small_airport,Copper Center 2 Airport,1150.0,NaN,US,US-AK,Copper Center,Z93,CZC,Z93,"61.9412002563, -145.294006348"
54617,Z95,small_airport,Cibecue Airport,5037.0,NaN,US,US-AZ,Cibecue,Z95,NaN,Z95,"34.003299713134766, -110.44400024414062"
54935,ZNC,small_airport,Nyac Airport,460.0,NaN,US,US-AK,Nyac,ZNC,ZNC,ZNC,"60.9807014465, -159.994003296"

In [112]:
airport_codes.isnull().count()

ident           22761
type            22761
name            22761
elevation_ft    22761
continent       22761
iso_country     22761
iso_region      22761
municipality    22761
gps_code        22761
iata_code       22761
local_code      22761
coordinates     22761
dtype: int64

In [113]:
airport_codes[airport_codes['iata_code'] == 'IAD']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
27598,KIAD,large_airport,Washington Dulles International Airport,312.0,NaN,US,US-DC,Washington,KIAD,IAD,IAD,"38.94449997, -77.45580292"

In [115]:
airport_codes = airport_codes.drop_duplicates(subset='iata_code', keep="first")

In [116]:
airport_codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"25.325399398804, -80.274803161621"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"61.934601, -162.899994"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"38.851918, -106.928341"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"30.251800537100003, -98.62249755859999"
...,...,...,...,...,...,...,...,...,...,...,...,...
54608,Z71,seaplane_base,Cape Pole Seaplane Base,0.0,NaN,US,US-AK,Cape Pole,Z71,CZP,Z71,"55.9663009644, -133.79699707"
54609,Z78,seaplane_base,Chignik Bay Seaplane Base,NaN,NaN,US,US-AK,Chignik,Z78,KBW,Z78,"56.295600891099994, -158.401000977"
54614,Z91,small_airport,Birch Creek Airport,450.0,NaN,US,US-AK,Birch Creek,Z91,KBC,Z91,"66.2740020752, -145.824005127"
54616,Z93,small_airport,Copper Center 2 Airport,1150.0,NaN,US,US-AK,Copper Center,Z93,CZC,Z93,"61.9412002563, -145.294006348"
54935,ZNC,small_airport,Nyac Airport,460.0,NaN,US,US-AK,Nyac,ZNC,ZNC,ZNC,"60.9807014465, -159.994003296"

In [119]:
pd.merge(left = df, right=airport_codes, left_on = "Origin", right_on = "iata_code", how="left")

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,Washington Dulles International Airport,312.0,NaN,US,US-DC,Washington,KIAD,IAD,IAD,"38.94449997, -77.45580292"
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,Washington Dulles International Airport,312.0,NaN,US,US-DC,Washington,KIAD,IAD,IAD,"38.94449997, -77.45580292"
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,Indianapolis International Airport,797.0,NaN,US,US-IN,Indianapolis,KIND,IND,IND,"39.7173, -86.294403"
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,Indianapolis International Airport,797.0,NaN,US,US-IN,Indianapolis,KIND,IND,IND,"39.7173, -86.294403"
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,Indianapolis International Airport,797.0,NaN,US,US-IN,Indianapolis,KIND,IND,IND,"39.7173, -86.294403"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,Minneapolis-St Paul International/Wold-Chamber...,841.0,NaN,US,US-MN,Minneapolis,KMSP,MSP,MSP,"44.882, -93.221802"
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,Richmond International Airport,167.0,NaN,US,US-VA,Richmond,KRIC,RIC,RIC,"37.50519943237305, -77.3197021484375"
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,Hartsfield Jackson Atlanta International Airport,1026.0,NaN,US,US-GA,Atlanta,KATL,ATL,ATL,"33.6367, -84.428101"
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,Washington Dulles International Airport,312.0,NaN,US,US-DC,Washington,KIAD,IAD,IAD,"38.94449997, -77.45580292"
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,San Antonio International Airport,809.0,NaN,US,US-TX,San Antonio,KSAT,SAT,SAT,"29.533700942993164, -98.46980285644531"

In [121]:
pd.merge(left = df, right=airport_codes[['name', 'municipality', 'iata_code']], left_on = "Origin", right_on = "iata_code", how="left")

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100,ArrDelay+DepDelay,name,municipality,iata_code
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,NaN,NaN,NaN,NaN,NaN,False,-6.0,Washington Dulles International Airport,Washington,IAD
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,NaN,NaN,NaN,NaN,NaN,False,21.0,Washington Dulles International Airport,Washington,IAD
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,NaN,NaN,NaN,NaN,NaN,False,22.0,Indianapolis International Airport,Indianapolis,IND
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,2.0,0.0,0.0,0.0,32.0,False,68.0,Indianapolis International Airport,Indianapolis,IND
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,NaN,NaN,NaN,NaN,NaN,False,36.0,Indianapolis International Airport,Indianapolis,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,3.0,0.0,0.0,0.0,22.0,False,55.0,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,MSP
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,0.0,57.0,18.0,0.0,0.0,False,132.0,Richmond International Airport,Richmond,RIC
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,1.0,0.0,19.0,0.0,79.0,False,179.0,Hartsfield Jackson Atlanta International Airport,Atlanta,ATL
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,NaN,NaN,NaN,NaN,NaN,False,20.0,Washington Dulles International Airport,Washington,IAD
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,NaN,NaN,NaN,NaN,NaN,False,2.0,San Antonio International Airport,San Antonio,SAT

In [122]:
df = pd.merge(left = df, right=airport_codes[['name', 'municipality', 'iata_code']], left_on = "Origin", right_on = "iata_code", how="left")

In [124]:
df[df['Origin'] == 'SAT']

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TaxiIn_gt_100,ArrDelay+DepDelay,name,municipality,iata_code
1287,1773,2008,1,3,4,1547.0,1540,1753.0,1745,WN,...,NaN,NaN,NaN,NaN,NaN,False,15.0,San Antonio International Airport,San Antonio,SAT
1288,1776,2008,1,3,4,1446.0,1435,1855.0,1840,WN,...,4.0,0.0,4.0,0.0,7.0,False,26.0,San Antonio International Airport,San Antonio,SAT
1289,1777,2008,1,3,4,2006.0,1945,2059.0,2040,WN,...,19.0,0.0,0.0,0.0,0.0,False,40.0,San Antonio International Airport,San Antonio,SAT
1290,1780,2008,1,3,4,1913.0,1855,2008.0,1950,WN,...,1.0,0.0,0.0,0.0,17.0,False,36.0,San Antonio International Airport,San Antonio,SAT
1291,1783,2008,1,3,4,2128.0,2045,2227.0,2140,WN,...,0.0,0.0,4.0,0.0,43.0,False,90.0,San Antonio International Airport,San Antonio,SAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936473,7008612,2008,12,12,5,1609.0,1558,1927.0,1925,DL,...,NaN,NaN,NaN,NaN,NaN,False,13.0,San Antonio International Airport,San Antonio,SAT
1936501,7008680,2008,12,12,5,1510.0,1345,1816.0,1704,DL,...,45.0,0.0,0.0,0.0,27.0,False,157.0,San Antonio International Airport,San Antonio,SAT
1936725,7009548,2008,12,13,6,1618.0,1604,1929.0,1925,DL,...,NaN,NaN,NaN,NaN,NaN,False,18.0,San Antonio International Airport,San Antonio,SAT
1936732,7009603,2008,12,13,6,1443.0,1336,1755.0,1652,DL,...,0.0,0.0,0.0,0.0,63.0,False,130.0,San Antonio International Airport,San Antonio,SAT
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,NaN,NaN,NaN,NaN,NaN,False,2.0,San Antonio International Airport,San Antonio,SAT

In [125]:
df.to_csv('updated_airline_delay.csv')

In [127]:
!ls -lah

total 429M
drwxr-xr-x 1 root root 4.0K Nov 19 19:36 .
drwxr-xr-x 1 root root 4.0K Nov 19 17:30 ..
-rw-r--r-- 1 root root  14K Nov 19 17:45 100rows.csv
drwxr-xr-x 4 root root 4.0K Nov 17 14:31 .config
-rw-r--r-- 1 root root  65M Nov 19 17:41 DelayedFlights.csv.zip
drwxr-xr-x 1 root root 4.0K Nov 17 14:32 sample_data
-rw-r--r-- 1 root root 364M Nov 19 19:37 updated_airline_delay.csv

In [128]:
!zip

Copyright (c) 1990-2008 Info-ZIP - Type 'zip "-L"' for software license.
Zip 3.0 (July 5th 2008). Usage:
zip [-options] [-b path] [-t mmddyyyy] [-n suffixes] [zipfile list] [-xi list]
  The default action is to add or replace zipfile entries from list, which
  can include the special name - to compress standard input.
  If zipfile and list are omitted, zip compresses stdin to stdout.
  -f   freshen: only changed files  -u   update: only changed or new files
  -d   delete entries in zipfile    -m   move into zipfile (delete OS files)
  -r   recurse into directories     -j   junk (don't record) directory names
  -0   store only                   -l   convert LF to CR LF (-ll CR LF to LF)
  -1   compress faster              -9   compress better
  -q   quiet operation              -v   verbose operation/print version info
  -c   add one-line comments        -z   add zipfile comment
  -@   read names from stdin        -o   make zipfile as old as latest entry
  -x   exclude the following names  -i   include only the following names
  -F   fix zipfile (-FF try harder) -D   do not add directory entries
  -A   adjust self-extracting exe   -J   junk zipfile prefix (unzipsfx)
  -T   test zipfile integrity       -X   eXclude eXtra file attributes
  -y   store symbolic links as the link instead of the referenced file
  -e   encrypt                      -n   don't compress these suffixes
  -h2  show more help

In [130]:
!zip updated_airline_delay.csv.zip updated_airline_delay.csv

  adding: updated_airline_delay.csv (deflated 78%)

In [131]:
!ls -lah

total 510M
drwxr-xr-x 1 root root 4.0K Nov 19 19:39 .
drwxr-xr-x 1 root root 4.0K Nov 19 17:30 ..
-rw-r--r-- 1 root root  14K Nov 19 17:45 100rows.csv
drwxr-xr-x 4 root root 4.0K Nov 17 14:31 .config
-rw-r--r-- 1 root root  65M Nov 19 17:41 DelayedFlights.csv.zip
drwxr-xr-x 1 root root 4.0K Nov 17 14:32 sample_data
-rw-r--r-- 1 root root 364M Nov 19 19:37 updated_airline_delay.csv
-rw-r--r-- 1 root root  81M Nov 19 19:39 updated_airline_delay.csv.zip